* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #FAFAF8;
}

/*************************** H E A D E R ***************************/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  gap: 11px;
}

header>img {
  width: 43px;
  height: 52px;
}

h1 {
  align-items: end;
  font-weight: 500;
}

/***************************** F O R M *****************************/

form {
  display: flex;
  justify-content: center;
  height: 40px;
  gap: 12px;
  margin: 30px 30px 10px;
}

input[type="text"] {
  border-radius: 6px;
  padding: 9px 12px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  font-size: 0.875rem;
  font-weight: 500;
}

button:hover {
  cursor: pointer;

}

main {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
}

.value {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1rem;
  transition: 0.3s;
}

.value:hover {
  background-color: rgba(20, 20, 19, 0.3);
  color: #000;
  font-size: 1.5rem;
}

/******************** I N G R E D I E N T | L I S T ****************/

ul.ingredients-list {
  margin-bottom: 48px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 12px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 2s;
}

.get-recipe-container button:hover {
  font-weight: 800;
  letter-spacing: 0.05rem;
  transition: 2s;
  padding: 10px 16px;
}